# Crucial Depencencies
coreapi==2.3.3
Django==5.2.4
django-mail-templated==2.6.5
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.0
drf-yasg==1.21.10
pillow==11.3.0
# Testing 
pytest==8.4.1
pytest-django==4.11.1
python-decouple==3.8
faker